.pokemon-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7rem;
}

.pokemon-filters .form-control,
.pokemon-filters .form-select,
.pokemon-filters .input-group-text,
.pokemon-filters .btn,
.pokemon-filters .btn-group {
  font-size: 0.7rem !important;
} 